<launch>
  <arg name="rviz" default="true"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [waffle, waffle_pi]"/>
  <arg name="world" default="turtlebot3_maze.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robotics_final_project)/worlds/$(arg world)"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description"
    command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-x -2.5 -y 1.2 -z 0.0 -Y 3.145 -urdf -param robot_description -model $(arg model)"
    respawn="false" output="screen"/>

  <node name="map_server_laser" pkg="map_server" type="map_server"
    args="$(find robotics_final_project)/map/maze-2/maze-1000.yaml"/>

  <node name="link1_broadcaster" pkg="tf" type="static_transform_publisher"
    args="0 0 0 1.5707963 0 0 /map /odom 100" />

  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)"/>
  </include>

  <group if="$(arg rviz)">
    <node name="rviz_laser" pkg="rviz" type="rviz" required="true"
      args="-d $(find robotics_final_project)/rviz/laser.rviz"/>
  </group>

</launch>
