<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [waffle, waffle_pi]"/>
  <arg name="world" default="turtlebot3_laser.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robotics_final_project)/worlds/$(arg world)"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description"
   command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
   args="-x 1.75 -y 1.85 -z 0.0 -Y 3.145 -urdf -param robot_description -model $(arg model)"
   respawn="false" output="screen"/>

  <!-- <group ns="tb1">
    <include file="$(find robotics_final_project)/launch/spawn_turtlebot.launch">
      <arg name="turtlebot_model" value="$(arg model)"/>
      <arg name="turtlebot_name" value="tb1"/>
      <arg name="init_pose" value="-x 1.75 -y 1.85 -z 0.0 -Y 3.145"/>
    </include>
  </group>

  <group ns="tb2">
    <include file="$(find robotics_final_project)/launch/spawn_turtlebot.launch">
      <arg name="turtlebot_model" value="$(arg model)"/>
      <arg name="turtlebot_name" value="tb2"/>
      <arg name="init_pose" value="-x -1.75 -y 1.85 -z 0.0 -Y 0.0"/>
    </include>
  </group> -->

</launch>
