<launch>
  <arg name="rviz" default="true"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [waffle, waffle_pi]"/>
  <arg name="world" default="turtlebot3_maze.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robotics_final_project)/worlds/$(arg world)"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="map_server_laser" pkg="map_server" type="map_server"
    args="$(find robotics_final_project)/map/maze-2/maze-1000.yaml"/>

  <group ns="player">
    <include file="$(find robotics_final_project)/launch/configure_turtlebot.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="name" value="player"/>
    </include>
  </group>

  <group ns="hunter">
    <include file="$(find robotics_final_project)/launch/configure_turtlebot.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="name" value="hunter"/>
    </include>
  </group>

  <!-- <group if="$(arg rviz)">
    <node name="rviz_laser" pkg="rviz" type="rviz" required="true"
      args="-d $(find robotics_final_project)/rviz/laser.rviz"/>
  </group> -->

</launch>
